body{
    background-image: url(clock.jpg);
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        /* bg will be fixed while scroll */
    }
    
    #clockcontainer{
        display: flex;
            justify-content: center; 
            align-items: center;  
            height: 100vh;     
    }
    #clock{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aliceblue;
        font-size: 6rem;
        font-weight:bold ;
        text-align: center;
       backdrop-filter: blur(5px);
    }